## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Oo]ut/

## Rider / VS Code
.idea/
.vscode/

## NuGet
*.nupkg
packages/
!packages/build/
*.nuget.props
*.nuget.targets

## Local DB & logs
*.mdf
*.ldf
*.log
logs/

## OS files
.DS_Store
Thumbs.db